*{margin: 0; padding: 0}

body {
    background: url("./images/bkgImg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #a8a8a8;
}

#hmIcon {
    position: absolute;
    left: 30px;
    top: 20px;
}

#hmIcon:hover {
    cursor: pointer;
}

#hmX {
    position: absolute;
    left: 30px;
    top: 20px;
}

#hmX:hover {
    cursor: pointer;
}

#links {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px 30px 80px 30px;
}

#routeLinks {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.route {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
}

.route:hover {
    transform: translateY(-4px);
    transition: 0.3s ease-out;
    text-decoration: underline;
}

header  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

#hdrImg {
    width: 90vw;
    height: auto;
    max-width: 848px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#searchInput {
    width: 180px;
}

.searchBtn {
    margin-left: 10px;
    padding: 0 8px;
}

.searchBtn:hover {
    cursor: pointer;
}

#searchCriteria {
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentFilter {
    margin: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

main {
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

.entryDiv {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    background: url('./images/entryBkg.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: underline;
    font-size: 20px;
}

.stats {
    text-align: center;
}

.effectiveness {
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image>img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 30px;
    border: 5px groove #787878;
}

@media only screen and (min-width: 768px) {
    header  {
        margin-top: 60px;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1366px) {
    #currentFilter {
    margin: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .image>img {
        width: 300px;
        height: auto;
        margin: 30px;
        border: 5px groove #787878;
    }
}

@media only screen and (min-width: 1775px) {
    .entryDiv {
        grid-template-columns: repeat(2, 1fr);
        margin: 60px;
    }

    .title {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        text-decoration: underline;
    }

    .stats {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: left;
        margin-left: 30px;
        
    }

    .effectiveness {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: 30px;
        text-align: left;
    }

    .image {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}