#inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgDiv>img {
    padding: 20px;
}